<div class="wrapper">
    <form [formGroup]="countryForm" #formDirective="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" id="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Country-Code</mat-label>
                <input matInput formControlName="countrycode" id="countrycode">
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button color="primary" type="submit" [disabled]="!countryForm.valid">Submit</button>
        </div>
    </form>
</div>