<mat-toolbar color="primary" style="height: 70px;">
    <div>
    <span style="font-size: 30px; margin-right: 100px;">Coding-Challenge</span>
        <a routerLink="list" routerLinkActive="active-list-item" style="font-size: 22px;">Liste</a>
        <a routerLink="add" routerLinkActive="active-list-item"
            style="font-size: 22px; margin-left: 30px;">Neu Anlegen</a>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
        style="transform: scale(1.6);">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>